<section-header title = "PACKAGES" ng-show="citySelected" subtext =""></section-header>

<div class=" mt-25 flexBox vm-package-row">
    <div class="flexItem vm-package-box " ng-repeat="package in packages">
        <div class="box-inner vm-package-box-inner">
            <div class="vm-package-box-image">
                <img alt="{{package.group_name}}" src="{{imgPath}}HomePackages-headToToe.jpg" width="100%" height="50%">
            </div>
            <div class="box-head vm-package-box-head p15">
                <span class="pull-left vm-hf-package-name">{{package.group_name}} </span>
                <span class="pull-right vm-hf-package-cost">&#8377{{package.services[0].cost_including_discount}} </span>
                <span class="clearfix"></span>
            </div>
            <div class="box-detail vm-package-box-detail p15">
                <span>{{package.services[0].package_name}}</span>
            </div>
        </div>
    </div>
</div>

