<section-header title = "PACKAGES" ng-show="citySelected" subtext =""></section-header>

<div class=" mt-25 flexBox vm-package-row" id="packageSection">
    <div class="packageContainerBox containerPackageBox" ng-repeat="package in packages track by $index" serviceId="package.service_id">
        <div class=" vm-package-box element-box">
            <div class="box-inner vm-package-box-inner">
                <div class="vm-package-box-image">
                    <img alt="{{package.service_name}}" src="{{package.img}}"  >
                </div>
                <div class="box-head vm-package-box-head p15">
                    <div class="list-inline-elems squaredOne" ng-if="!viewCart" ng-class="{'checked' : package.isAddedToCart}">
                        <input type="checkbox" ng-click="package.clearFromCart()" ng-model="package.isAddedToCart" class="squaredOneCheckbox" value="{{package.service_id}}" name="packageType" id="package_{{package.service_id}}"/>
                        <label for="package_{{package.service_id}}">
                        </label>
                    </div>
                    <div class="list-inline-elems ml-15 v-align-bottom ">
                    <span class="pull-left vm-hf-package-name">{{package.service_name}} </span>
                    </div>
                    <div class="list-inline-elems pull-right font-bold">
                    <span class="pull-right vm-hf-package-cost ">&#8377{{package.cost}} </span>
                    </div>
                    <span class="clearfix"></span>
                </div>
                <div class="box-detail vm-package-box-detail p15">
                    <span>{{package.description}}</span>
                </div>
                <!-- Person Count -->
                <div class="row removeRowMargin mt-10 personSelectionDiv" ng-show="package.isAddedToCart || viewCart">
                    <div class="col-xs-3 text-center ">
                        <span class=" cursorPointer fa fa-plus addPerson" ng-click="package.addToCart()"></span>
                    </div>
                    <div class="col-xs-6 ">
                        <span class="countOfPersons"></span>
                        <span class="name"> {{package.count}} Person(s)</span>
                    </div>
                    <div class="cursorPointer col-xs-3 text-center ">
                        <span class="fa fa-minus removePerson" ng-click="package.removeFromCart()"></span>
                    </div>
                </div>
                <!-- Tobe shown in viewCart section only -->
                <div class=" m10 vm-remove-from-cart vm-link" ng-if="viewCart" ng-click="removePackageFromCart(package)">Remove</div>
            </div>

        </div>

    </div>

    <div class="vm-cart-addmore cursorPointer" ng-show="viewCart" ng-click="goToState('servicesPage', {section: 'packageSection'})">
        <span class = "fa fa-plus mr-15"></span> <span class="vm-link">Add another package</span>
    </div>
</div>

