<div class="vyomo-service-page" ng-controller="ServiceCtrl">

    <div class="citySelection">
        <h4 class="servicesHead" ng-hide="citySelected"> WHERE DO YOU NEED OUR SERVICES? </h4>
        <span class="label-selected-city" ng-show="citySelected">SELECTED CITY</span>
        <div class = "vm-select-combobox form-group" ng-class="{inlineElem : citySelected}">
          <select class="vm-select-city form-control" placeholder="Select your city" ng-model="data.selectedCity" ng-change="getServicesPackages()">
              <option value="" class="placeholder">Select your city</option>
              <option ng-repeat="city in  data.cities" value="{{city.name}}" latLong="{{city.lat_long}}">{{city.name}}</option>
          </select>
        </div>
        <cart-price></cart-price>
    </div>
    <div class="vm-choose-city-helptext-row stepHead row removeMargin" ng-hide="citySelected">
        <section-header title = "Choose Location to View Services" subtext ="">
    </div>

    <div class="vyomo-feature-packages" ui-view="packagesView"></div>

    <div class="vyomo-feature-services" ui-view="servicesView"></div>

</div>