<section-header title = "SERVICES" ng-show="citySelected" subtext =""></section-header>

<div class="mt-25 flexBox vm-services-row">
    <div class="serviceContainerBox" ng-repeat="service in services | orderBy :'service.category_name'">
        <div class="flexItem vm-service-box" >
            <div class="vm-service-box-inner" ng-click="isCollapsed = !isCollapsed">
                <div class="pull-left imgBox">
                    <! --{{img to be changed to api image key}} -->
                    <img alt="Vyomo Services {{service.category_name}}" src="{{imgPath}}HomeServices-bodyPolish.jpg"/>
                </div>
                <div class="pull-left vm-service-title">
                    {{service.category_name}}
                    <span class="displayBlock viewServiceDetails" ng-hide="isCollapsed"> View Details</span>
                </div>
                <span id="openServiceListIcon" class= "fa" ng-class="isCollapsed ? ['fa-angle-down'] : ['fa-angle-up']"></span>
                <div class="clearfix"></div>

            </div>
        </div>
        <!---- Collapsibe service type List ---------------->
        <div uib-collapse="isCollapsed" class="serviceCollapseList">
            <div class="vm-expanded-service-list">
                <ul class="service-type-list">
                    <li class="service-list-element" ng-repeat="serviceType in service.list | orderBy :'serviceType.cost'">
                        <div class="list-inline-elems squaredOne" ng-class="{'checked' : isCheckService}">
                            <input type="checkbox" ng-model="isCheckService" class="squaredOneCheckbox value="{{serviceType.service_id}}" name="serviceType" id="service_{{serviceType.service_id}}"/>
                            <label for="service_{{serviceType.service_id}}">
                            </label>
                        </div>
                        <div class="list-inline-elems serviceTypeName ml-10">
                            {{serviceType.service_name}}
                        </div>
                        <div class="list-inline-elems font-bold serviceTypeCostElem pull-right">
                            <span class="rupeeSymbol">&#8377</span>
                            <span class="serviceTypeCost">{{serviceType.cost}}</span>
                        </div>
                        <div class="row removeMargin personSelectionDiv" ng-show="isCheckService">
                            <div class="col-sm-3 text-center ">
                                <span class="fa fa-plus addPerson"></span>
                            </div>
                            <div class="col-sm-6 mt-10 ">
                                <span class="countOfPersons"></span>
                                <span class="name"> Person(s)</span>
                            </div>
                            <div class="col-sm-3 text-center ">
                                <span class="fa fa-minus removePerson"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

