<div class="login-section-wrapper no-signup">
  <div class="login-info">
    <span>LOGIN INTO YOUR ACCOUNT </span>
    <span class="service-info login-pointer" ng-click="registerNow()">Register Now</span>
  </div>
  <form role="form" ng-submit="sendForm()" autocomplete="on" form-auto-fill-fix>
    <div class="input-wrapper">
      <input type="number" placeholder="Enter Mobile Number" required ng-model="formData.mobileNumber" name="mobNumber" value=""/>
      <div ng-if="getPassword && !forgotPassword" class="inline-flex">
        <input type="password" placeholder="Password" required ng-model="formData.password" name="password" value=""/>
        <span class="service-info login-pointer" ng-click="toggleForgotPassword()">Forgot Password?</span>
      </div>
      <input type="text" ng-if="otpNeeded || forgotPassword" placeholder="Enter Validation Code" required ng-model="formData.otp" name="otp" value=""/>
      <input ng-if="forgotPassword" type="password" placeholder="Password" required ng-model="formData.newPassword" name="password" value=""/>
      <div class="action-block">
          <div class="error-div no-signup" ng-if="errorMsg">
            *{{errorMsg}}
          </div>
          <!-- Commenting out Forgot Password until the functionality exists -->
          <!-- <a style="font-size:12px;color:#46A3C8;text-decoration:underline">Forgot Password</a> -->


          <button class="login no-signup-button" type="button" ng-if="!getPassword" ng-click="showPasswordInput()">NEXT</button>
          <button class="login no-signup-button" type="submit" ng-if="getPassword && !otpNeeded && !forgotPassword">LOGIN</button>
          <button class="login no-signup-button" ng-click="verifyOtp()" ng-if="otpNeeded">VALIDATE</button>
          <button class="login no-signup-button" ng-click="setNewPassword()" ng-if="forgotPassword">VALIDATE</button>

      </div>
    </div>
  </form>
</div>
