<div class="vm-cart-page">

    <div class="vm-checkout-step1">
        <section-header ng-click='collapsePanels("step1")' title = "YOUR CART"  subtext ="" class="cart-head"></section-header>
        <div class="step1-inner" uib-collapse="step1Collapse">
            <div class="vm-cart-list">
                <div ui-view="packageListCart" class="vyomo-feature-packages"></div>
                <div ui-view="serviceListCart" class="vyomo-feature-services"></div>
            </div>

            <total-price-header show-offer-code = "false" sub-total = "750" discount="NA" total="500"></total-price-header>

            <div class="row removeMargin p25">
                <a class="vm-primary-btn" id="vm-savecart" ng-click="saveCart()"> SAVE & CONTINUE</a>
            </div>
        </div>
    </div>


    <div class = "vm-checkout-step-2" ui-view="checkoutView" ng-show="step1Collapse"></div>
</div>