<!--    Careers Page is turned into ABout US section So ignore careers named files in routes and other places -->
<div class="row removeMargin vm-aboutus-row">
    <div class="hidden-xs col-sm-4 col-md-6">
        <img alt="Vyomo About Us" src="assets/img/HomeCareers.jpg"/>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6">
        <section-header title = "ABOUT US" subtext ="We are a top salon professional."></section-header>
    <div class="about-us-content">
        Naturals is your source for discovering and booking top stylists near you within the comfort of your home. Only vetted and experienced beauty professionals specially trained for in Home Beauty Services. Beauty Services offered are Facial, Clean Up, Bleach, Hair Cut, Hair Styling, Hair Coloring, Head Massage, Body Massage, Manicure, Pedicure, Bridal Makeup, Make Over, Hair Spa, Normal Waxing, Chocolate Waxing, Gold Waxing, Liposoluble Detan Waxing (Painless Waxing), Brazilian Bikini Waxing, Threading, Foot Reflexology, Hand Reflexology, Saree Draping and much more. Naturals brings the Salon home. Customize your service for who, what, when and where; Salon-like experience at home is here!
    </div>
    </div>

</div>