<div class = "row removeMargin offers-section-row">
    <div class="col-xs-12 col-sm-6 text-center">

        <div class="vm-home-offers-head">
            <div class="border-salon"></div>
            <div class="head">
            <h2>OFFERS</h2>
            <p>YOU CAN'T REFUSE</p>
            </div>
        </div>
        <div class="vm-offers-detail">
            <p>HAPPY BEAUTY HOURS</p>
            <p class="mt-5">Book a service <span class="font-bold">between 1pm to 5pm</span> </p>
            <p class="font-bold">Get Flat 40% Off (Code-VYMHAPPY)</p>
        </div>

        <div class = "mt-15 row removeMarginLeft removeMarginRight text-center" >
            <a class="vm-secondary-btn vm-home-view-offers-btn">VIEW MORE OFFERS</a>
        </div>
    </div>
    <div class="hidden-xs col-sm-6 offersImgBox">
        <img alt="Vyomo Offers" src="assets/img/HomeOffers.jpg"/>
    </div>
</div>