<div class="appointments-container">
	<div ng-if="confirmBookingMsg" class="alert alert-success">{{confirmBookingMsg}}</div>
	<div class="flex your-appointments"> 
		<span class="heading">YOUR APPOINTMENTS</span>
		<hr class="horizontal-bar"></hr>
		<span ng-if="errorMessage" class="appointment-error">*{{errorMessage}}</span>
	</div>
	<div ng-if="appointmentsAvailable" class="appointments-available flex">
		<div ng-repeat="appointment in appointments track by $index" class="appointment">
			<div class="order-id-container inline-flex">
				<span>ORDER ID - {{appointment.appointment_id}}</span>
			 	<!-- <a role="button" class="fa fa-angle-down" data-toggle="collapse" href="#collapsed-appointment" aria-expanded="false" aria-controls="collapsed-appointment">
				</a> -->
				<button class="fa" type="button" data-toggle="collapse" data-target="#collapsed{{$index}}" aria-expanded="false" aria-controls="collapsed" ng-class="appointment.isCollapsed ? 'fa-angle-down' : 'fa-angle-up'" ng-click="toggleCollapse(appointment)">
				</button>
			</div>
			<span class=>{{appointment.assignee_name}}</span>
			<div id="collapsed{{$index}}" class="collapse" ng-class='{in:$first}' >
				<div class="appointment-details-container inline-flex">
					<div>
						<span>{{appointment.appointment_date}}</span>
						<div>{{appointment.services.length}} services booked</div>
					</div>
						<span> Status: <span ng-class="(appointment.appointment_status=='Cancelled')?  'color-complete': 'default-color'" >{{appointment.appointment_status}}</span></span>
				</div>

				<div class="appointment-details" id="collapsed-appointment">
					<div ng-repeat="service in appointment.services" class="service-container inline-flex">
						<span> {{service.service_name}}<span>&nbsp;X&nbsp;{{service.count}}</span></span>
						<span>&#8377;&nbsp;{{service.service_cost}}</span>
					</div>
				</div>
				<div class="total-container inline-flex" ng-if="appointment.promo_code">
					<span>Promo code</span>
					<span class="color-complete">&nbsp;{{appointment.promo_code}}</span>
				</div>
				<div class="total-container inline-flex">
					<span>Total</span>
					<span>&#8377;&nbsp;{{appointment.total_amount}}</span>
				</div>
				<div class="payment-info-container inline-flex"> 
					<span>Paid using 
						<span class="mode">Cash</span>
					</span>
					<div class="cancel-btn" ng-if="appointment.appointment_status!='Complete'">
						<span ng-if="appointment.appointment_status!='Cancelled'"ng-click="cancelAppointment(appointment)">Cancel</span>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div ng-if="!appointmentsAvailable" class="no-appointments">
		<span> No Appointments </span>
	</div>
</div>