/**
* Cart/Checkout Stylesheet
*/
.vm-checkout-step1{
  overflow: auto;
}
.cart-head{
  font-size: 2rem;
  margin-top: 20px;
  margin-left: 20px;
  color: #939393;
  cursor: pointer;
  span.fa{
    margin-right: 6rem;
  }
  div.headText {
  display:inline-block;
  width:84%;
    position:relative;
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      border-top: 1px solid #e4e4e4;
      -webkit-box-shadow: 0px 0.5px 0px #e4e4e4;
      -moz-box-shadow: 0px 0.5px 0px #e4e4e4;
      box-shadow: 0px 0.5px 0px #e4e4e4;
      width: 70%;
      margin-left: 15px;
    }
  }
}
.cart-head div.packageHeadText{
  width:75%;
}
.vm-cart-page {
  position: relative;
  min-height: 560px;

  background: #f7f7f7;

  .vm-login-message{
    display: block;
    background: @purple;
    padding: 15px 25px;
    color: white;
    font-family: SourceSansPro;
  }

}

.vm-cart-addmore{
  width: 30%;
  margin-left: 1.5%;
}
.vm-cart-bill-row{
  margin: 20px 25px;
  margin-bottom:0;
  background: @white;
  padding: 5px;
}
.vm-offer-code-box{
  margin-left: 10%;
  border: 1px dashed #ccc;
  padding: 8px 20px;
}
.fields{
  margin-right: 2rem ;
  vertical-align: middle;
  display : inline;
  font-size: 1.8rem;
}
#vm-savecart{
  margin-left: 10%;
}

.vm-cart-page section-header h2 {
  font-size: 2rem !important;
}
.selected-address-box{
  margin-left:25px;
  align-items: flex-start;
}
.address-text{
  width:90%;
}
.vm-address-box{
  width: 32.33%;
  margin-left:8px;
  background: white;
  margin-right: 1%;
  margin-top:15px;
  padding: 15px;
}

.vm-add-new-address{
  width: 30%;
  margin-left: 1.5%;
}

.vm-select-date-time-link{
  background: white;
  width: 31%;
  margin-top: 25px;
  margin-left: 25px;

  a{
    color:@link-color;
    font-family: SourceSansPro;
    cursor : pointer;
    &:hover{
      color:@linkColorHover;
      text-decoration: none !important;
    }
  }
}
.payment-mode-cash{
  padding: 10px;
  background: white;
  font-size: 1.6rem;
  margin-left: 25px;
}
.coupon-action{
  vertical-align: top;
  margin-left:10px;
  margin-top:10px;
}
//Address Form CSS
.group{
  position: relative;
  margin-top:25px;
  margin-left:25px;
}
// Input element ================================ */
.inputMaterial{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid @borderColor;

  &:focus{
    outline:none;
  }
}

/* LABEL ======================================= */

.address-label 				 {
  color:#999;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label 		{
  top:-20px;
  font-size:1.4rem;
  color: @textColor;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width:  100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: @purple;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width: 50%;
}

.control-label{
  font-size:1.2em;
  color:@red;
}

/* SelectMAterial ================================ */
.selectMaterial{
  background: transparent;
  background: url('../assets/img/down-arrow.png') no-repeat right transparent;
  background-size: contain;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position-x: 100%;
  border: none;
  padding:10px 10px 10px 5px;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  width: 100%;
  font-size: 1.6rem;
  color: #999;
  box-shadow: none;
  -webkit-box-shadow: none;

  &:focus{
    border:none;
    outline:none;
  }
  &:focus ~ .bar:before {
    width: 50%;
  }
  &:focus ~ .bar:after{
    width: 50%;
  }
  option {
    background: @purple;
    color:@text-color;
    &.placeholder{
      font-size: 14px;
    }
  }
}

.buttons-row{
  font-family: SourceSansPro;
  margin-left:25px;

}
 .control-label{
   font-size:12px;
 }

.success-control-label{
  font-size:12px;
  color:limegreen;
}

 .vm-cart-bill-row{
   display: inline-block;
   width : 95%;
 }

@media only screen and (max-width: 768px)  {
  .vm-address-box {
    width: 98%;
  }
  .vm-add-new-address {
    width: 100%;
  }
  .vm-cart-addmore{
    width:100%;
  }
  .vm-select-date-time-link{
    width:90%;
  }
  .fields{
    margin-right: 6rem;
    display:block;
  }

  .cart-head{

    span.fa{
      margin-right:2rem;
    }
    div.headText{
      &:after{
        width:70%;
      }
    }
  }

}
@media only screen and (min-width: 768px) and (max-width: 1170px)  {
  .vm-address-box {
    width: 48%;
  }
  .vm-add-new-address {
    width: 100%;
  }
  .vm-cart-addmore{
    width:100%;
  }
  .vm-select-date-time-link{
    width:100%;
  }
  .cart-head{
    div.headText{
      &:after{
        width:100%;
      }
    }
  }
  .fields{
    margin-right: 6rem;
    display:block;
  }
}