/**
* Cart/Checkout Stylesheet
*/

.vm-cart-page {
  position: relative;
  min-height: 560px;

  background: #f7f7f7;
  z-index: 5;

  .vm-login-message{
    display: block;
    background: @pink;
    padding: 15px 25px;
    color: white;
    font-family: SourceSansPro;
  }

}

.vm-cart-addmore{
  width: 32.33%;
  margin-left: 1.5%;
}
.vm-cart-bill-row{
  margin: 20px 25px;
  margin-bottom:0;
  background: @white;
  padding: 5px;
}
.vm-offer-code-box{
  margin-left: 10%;
  border: 1px dashed #ccc;
  padding: 8px 20px;
}
.fields{
  margin-right: 10%;
  vertical-align: middle;
  &:first-of-type{
    margin-right: 0;
  }
}
#vm-savecart{
  margin-left: 10%;
}

.vm-cart-page section-header h2 {
  font-size: 2rem !important;
}
.selected-address-box{
  margin-left:25px;
}
.address-text{
  width:90%;
}
.vm-address-box{
  width: 33%;
  background: white;
  margin-right: 1%;
  padding: 15px;
}

.vm-add-new-address{
  width: 30%;
  margin-left: 2%;
}

.vm-select-date-time-link{
  background: white;
  width: 31%;
  margin-top: 25px;
  margin-left: 25px;

  a{
    color:@link-color;
    font-family: SourceSansPro;
    cursor : pointer;
    &:hover{
      color:@linkColorHover;
      text-decoration: none !important;
    }
  }
}
.payment-mode-cash{
  padding: 10px;
  background: white;
  font-size: 1.6rem;
  margin-left: 25px;
}

