/**
* Service Stylesheet
*/
//Custom checkbox labbeling
//Mobile First approach

input[type=checkbox] {
  visibility: hidden;
}

.inlineElem{
  display: inline-block;
  width:75%;
}

div.list-inline-elems{
  display: inline-block;
}
.v-align-bottom{
  vertical-align: bottom;
}

.vyomo-service-page {
  position: relative;
  min-height: 560px;
  background: #f7f7f7;
  /**********************
   Start Top Row City Selection
   ***********************/
  .citySelection{
    display: block;
    background: @pink;
    padding: 15px 25px;
    color: white;

    .servicesHead{
      font-weight: 600;
      font-family: SourceSansPro;
      font-size: 1.6rem;
    }

    select.vm-select-city{
      background: transparent;
      background: url('../assets/img/down-arrow.png') no-repeat right transparent;
      background-size: contain;
      -webkit-appearance: none;
      background-position-x: 100%;
      border: none;
      border-bottom: 1px solid #fff;
      border-radius: 0;
      width: 100%;
      font-size: 1.6rem;
      font-weight: 600;
      color: white;
      box-shadow: none;
      -webkit-box-shadow: none;

      option{
        background: rgba(51, 54, 63, 0.84);

        &.placeholder{
          display:none;
        }
      }
    }
  }
  //End Top Row City Selection
  .stepHead{
    section-header h2{
      font-size:1.8rem !important;
      color: #939393 !important;
    }

  }
}
span.label-selected-city{
  font-weight: 600;
  margin-right: 10px;
}
.vyomo-feature-packages {
  .vyomo-home-page-feature-packages;
}
.vm-package-row{
  align-items: center;
}
.vyomo-feature-services{
  //In home.less reusing it
  .vyomo-home-page-feature-services;
}

//In Package sect
.personSelectionDiv{
  div{
    background-color: #D8F5F3;
    padding: 6px 10px;
    border-right:1px solid #f7f7f7
  }
}

.cart-info-container {
  background: linear-gradient(90deg, @cart-light-green 60%, @cart-dark-green 40%);
  padding: 1rem;
  border-radius: 500px;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  display: inline;
  z-index: 999;
  font-family:SourceSansPro-Bold;
  cursor: default;

  span {
    padding: 0 2rem;
  }

  .cart-count {
    position: absolute;
    top: 5%;
    right: 10%;
    font-family: 'SourceSansPro';
    font-size: 12px;
    background: #e84c8a;
    border-radius: 50%;
    padding: 0 5px;
  }

  .cart-info {
    cursor: pointer;
  }
}

.serviceCollapseList{
  padding: 10px;
  padding-top: 0px;
  background: white;
}
.containerBox{
  margin-bottom: 1.2rem;
    img {
      vertical-align: bottom;
    }
  }


.vm-service-box{
  margin-bottom: 0 !important;
}
#openServiceListIcon{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  color: #939393;
}

.viewServiceDetails{
  .vm-link;
}

.vm-expanded-service-list{

  ul{
    padding: 10px;
    border-top: 1px solid #ccc;

    li{
      margin-bottom : 1rem;
    }
  }

}

@media only screen and (min-width: 768px)  {

  .vyomo-service-page{

    /**********************
    Start Top Row City Selection
    ***********************/
    .citySelection{
      select.vm-select-city{
        width: 25%;
      }
    }

  }
  .vyomo-feature-packages{
    .vm-package-box{
      width : 32.33% ; //The remaining width of 3% (i.e. 32.33 x 3 = 97%) will be used to create the space between the boxes and simulate margins
    }

  }

  .vm-package-row{
    flex-direction:row;
    align-items: center;
  }
  .vm-package-box-image{
    text-align: center;
  }
  .containerBox{
    width : 49% ; //The remaining width of 2% (i.e. 49 x 2 = 98%) will be used to create the space between the boxes and simulate margins
    margin-bottom: 1.2rem;
    flex-direction: row;

    .element-box{
      width:100%;

    }
  }
}
@media only screen and (min-width: 1170px)  {
  .containerBox{
    width : 32.33% ; //The remaining width of 3% (i.e. 32.33 x 3 = 97%) will be used to create the space between the boxes and simulate margins

  }
}
