<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="Vyomo" ng-controller="AppCtrl">
<!--<![endif]-->
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="Vyomo">
    <meta name="twitter:title" content="Vyomo website">
    <meta name="twitter:description" content="Vyomo is a mobile app based beauty and wellness platform. We provide “Head-to-toe” doorstep beauty services at home to women of all ages in India.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="Vyomo website" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Vyomo is a mobile app based beauty and wellness platform. We provide “Head-to-toe” doorstep beauty services at home to women of all ages in India.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!----------------------- Favicon ---------------------------->
    <link rel="shortcut icon" href="assets/img/favicon.ico">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <!-- Icon Set -->
    <link rel="stylesheet" type="text/css" href="assets/css/icon-set.css">
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!--     Google APIS(TODO -TO be change )     -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdtiRMHmELLNLkIAJkzzkWaFKmxun0reU&libraries=places"></script>
    <!--[if lte IE 8]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body initialize-page>

  <!-- Our Website Content Goes Here -->
   <header class="vm-main-header" ng-controller="headerController">
     <div class="vm-logo">
       <a href="/" ><img src="assets/img/VyomoLogo.svg" alt=" Logo"></a>
     </div>

    <!-- <div class="cd-search is-hidden">
       <form action="#0">
         <input type="search" placeholder="Search...">
       </form>
     </div>  cd-search -->

      <a class="vm-nav-trigger" ng-click="$root.toggleNavMenuMobile = !$root.toggleNavMenuMobile" ng-class="{'nav-is-visible': $root.toggleNavMenuMobile}"><span></span></a>

      <div class="vm-nav login-header" >
        <div class="vm-login-message" ng-if="number" ng-cloak>
          <span class="isLogin-msg font-bold">YOU ARE LOGGED IN </span>
          <span class = "vm-username">{{number}}</span>
          <span class="logout" ng-click="logout()">
            <span class="fa fa-power-off"></span>
            Logout</span>
        </div>
        <div class="vm-login-message" ng-if="!number">
          <span class="isLogin-msg font-bold login-button" ng-click="goToLogin()">
            <span class="fa fa-sign-in"></span>Log In </span>
        </div>
      </div>
   </header> <!-- .cd-main-header -->
   <div rolw="main" class="vm-main-content padded-content" ng-controller="sideMenuController">
      <nav class="vm-side-nav is-fixed" ng-class="{'nav-is-visible': $root.toggleNavMenuMobile}">
        <ul class="nav-buttons-container">
          <li class="has-children vm-link-nav">
            <ul>
              <li class="vm-home-nav" ng-class="{active:isHome}" >
                <a ng-click=goToState("homePage")>
                  <span class="icon icon-nav icon-menu-home-inact"></span>
                  <span class="nav-menu-text"> Home </span>
                </a>
              </li>
              <li class="vm-service-nav" ng-class="{active: routeIs('/servicesPage')}">
                <a ng-click=goToState("servicesPage")>
                  <span class="icon icon-nav icon-menu-serv-inact"></span>
                  <span class="nav-menu-text"> Services </span>
                </a>
              </li>
              <li class="vm-offers-nav" ng-click="goToOffers()">
                <span class="icon icon-nav icon-menu-offers-inact" ></span>
                <span class="nav-menu-text"> Offers </span>
              </li>
              <li class="vm-appointment-nav" ng-class="{active: routeIs('/appointments')}" >
                <a ng-click=goToState("appointments")>
                  <span class="icon  icon-nav icon-clock" ng-class="{active: routeIs('/appointments')}"></span>
                  <span class="nav-menu-text"> Appointments </span>
                </a>
              </li>
              <li class="vm-aboutus-nav"  ng-click="goToAboutUs()">
                <span class="icon icon-nav icon-menu-blog-inact"></span>
                <span class="nav-menu-text"> About Us </span>
              </li>
              <li class="vm-blogs-nav" style="visibility: hidden;">
                <span class="icon icon-nav icon-menu-blog-inact"></span>
                <span class="nav-menu-text"> Blog </span>
              </li>

            </ul>
          </li>

    <!-- ======================== Call support and download App section ============ -->
        <!--   <li class="has-children vm-support-nav">

            <ul>
              <li class="callIcon hidden-xs visible-sm hidden-md">
                <span class="fa fa-phone"></span>
              </li>
              <li class="hidden-xs hidden-sm visible-md visible-lg">Call us at <strong>{{vyomoContactNo}}</strong></li>
              <li>
               <span class="visible-xs hidden-sm visible-md visible-lg">Download Our App</span>
                <div class="mt-15 images-inline"><img width="50px" src="assets/img/play-store.png"> <img width="50px" src="assets/img/app-store.png"></div>

              </li>
            </ul>
          </li> -->

          <li class="action-btn"><a href="#0" ng-click=goToState("servicesPage")>BOOK NOW</a></li>
        </ul>
      </nav>
      <div class="content-wrapper" ui-view="main"></div>

     <!-------------------- Footer ---------------------->

     <div class="footer">
       <div class="row removeMargin">
         <div class="footer-inner">
           <ul class="social">
             <li><a target="_blank" href="http://gplus.to/joshdmiller"><i class="fa fa-google-plus-sign"></i></a></li>
             <li><a target="_blank" href="http://twitter.com/joshdmiller"><i class="fa fa-twitter-sign"></i></a></li>
             <li><a target="_blank" href="http://linkedin.com/in/joshdmiller"><i class="fa fa-linkedin-sign"></i></a></li>
             <li><a target="_blank" href="http://github.com/ngbp/ngbp"><i class="fa fa-github-sign"></i></a></li>
           </ul>


           <p>
             <span class="pull-left"> CopyRight (c) 2016 Vyomo. All Rights Reserved. </span>
          <!--<span class="pull-right" >-->
            <!--<a href="#">Terms & Conditions</a>-->
            <!--<a href="#">Privacy Rules</a>-->
          <!--</span>-->
           </p>
         </div>
       </div>
     </div>
   </div>
   
    <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </body>
</html>
